<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Sushil Sali</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti ipsam fuga id! Incidunt tenetur, aliquam ut
        sed, asperiores officiis maiores ab atque voluptate quasi aliquid voluptatum sit officia harum earum?</p>
        <h1><%= 223+2323 %></h1>
        
</body>

</html>